/* Contenedor que usará flexbox para alinear la imagen y el formulario en paralelo */
#container {
    display: flex;
    align-items: center; /* Centra verticalmente ambos elementos */
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre la imagen y el formulario */
    padding: 20px;
  }

  /* Asegura que la imagen no se desborde y se ajuste de manera proporcional */
  #board img {
    max-width: 600px; /* Establece el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  /* Estilo para el formulario */
  #form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre las opciones del formulario */
  }

  @media (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
    }

    #board img {
        max-width: 100%;
    }

    #form {
        align-items: center;
        gap: 5px;
    }

    label {
        font-size: 16px;
    }

    button {
        width: 100%; /* Hacer el botón más grande en pantallas pequeñas */
    }
}


  